{
  "env": {
    "jest": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
